@using Microsoft.AspNet.Identity
@using System.Security.Claims
@if (Request.IsAuthenticated)
{

    var email = ((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Email);

    <script type="text/ng-template" id="myModalContent.html">
        @*<circle-spinner ng-hide="isCreateIssueModelLoaded"></circle-spinner>*@
        @Html.Partial("_CreateIssue")
        @*<div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>*@
    </script>

    <ul class="nav navbar-nav navbar-left">
        <li uib-dropdown on-toggle="toggled(open)">
            <a id="dashboard-dropdown" uib-dropdown-toggle href="#" popover-placement="bottom-left">Dashboards<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dashboard-dropdown">
                <li>@Html.ActionLink("View system dashboard", "ViewSystemDashboard", "Dashboard")</li>
                <li class="nav-divider"></li>
                <li>@Html.ActionLink("View all dashboards", "ViewAll", "Dashboard")</li>
            </ul>
        </li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a id="project-dropdown" uib-dropdown-toggle href="#" popover-placement="bottom-left">Projects<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="project-dropdown">
                <li>@Html.ActionLink("View all project", "ViewAll", "Project")</li>
                <li class="nav-divider"></li>
                <li>@Html.ActionLink("Create project", "Create", "Project")</li>
            </ul>
        </li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a id="issue-dropdown" uib-dropdown-toggle href="#" popover-placement="bottom-left">Issues<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="issue-dropdown">
                <li>@Html.ActionLink("Search for issues", "SearchForIssue", "Issue")</li>
                <li class="nav-divider"></li>
                <li>@Html.ActionLink("View all dashboards", "ViewAll", "Dashboard")</li>
            </ul>
        </li>
        <li>
            <button class="btn btn-warning navbar-btn btn-block" ng-click="open('lg')">Create</button>
        </li>
    </ul>

    using (Html.BeginForm("LogOff", "Authentication", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="nav navbar-nav navbar-right">
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-bell"></span><span class="badge">3</span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@email.Value <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit Profile", "EditProfile", "Profile")</li>
                    <li>@Html.ActionLink("My Applications", "My Applications", "Application")</li>
                    <li>@Html.ActionLink("My Resumes", "My Resumes", "Resume")</li>

                    <li class="nav-divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign In", "SignIn", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" id="dropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-question-sign"></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownHelp">
                <li><a href="#">Documentation</a></li>
            </ul>

        </li>
    </ul>
}
