@using Microsoft.AspNet.Identity
@using System.Security.Claims
@if (Request.IsAuthenticated)
{

    var email = ((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Email);

    <script type="text/ng-template" id="myModalContent.html">
        <cube-grid-spinner id="spinInModal"></cube-grid-spinner>
    </script>

    <ul class="nav navbar-nav">
        <li uib-dropdown on-toggle="toggled(open)">
            <a id="dashboard-dropdown" uib-dropdown-toggle href="" popover-placement="bottom-left"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Dashboards<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dashboard-dropdown">
                <li>@Html.ActionLink("View system dashboard", "ViewSystemDashboard", "Dashboard")</li>
                <li class="nav-divider"></li>
                <li>@Html.ActionLink("View all dashboards", "ViewAll", "Dashboard")</li>
            </ul>
        </li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a id="project-dropdown" uib-dropdown-toggle href="" popover-placement="bottom-left"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Projects<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="project-dropdown">
                <li>@Html.ActionLink("View all project", "ViewProjects", "Project")</li>
                <li class="nav-divider"></li>
                <li><a href="" ng-click="open('md', '/Project/CreateProject')">Create project</a></li>
            </ul>
        </li>
        <li uib-dropdown on-toggle="toggled(open)">
            <a id="issue-dropdown" uib-dropdown-toggle href="" popover-placement="bottom-left"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Issues<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="issue-dropdown">
                <li>@Html.ActionLink("Search for issues", "SearchIssue", "Issue")</li>
                <li class="nav-divider"></li>
                <li>@Html.ActionLink("My open issues", "MyOpenIssues", "Issue")</li>
                <li>@Html.ActionLink("Pet View", "Index","Pet")</li>
            </ul>
        </li>
        <li style="padding-left: 15px;">
            <button class="btn btn-default navbar-btn" role="button" ng-click="open('md', '/Issue/CreateIssue')">Create</button>
        </li>
    </ul>
    
    using (Html.BeginForm("LogOff", "Authentication", FormMethod.Post, new { id = "logoutForm" }))
    {
        <ul class="nav navbar-nav navbar-right">

            <li role="presentation"><a href="#"><span class="badge">3</span><span class="glyphicon glyphicon-bell"></span></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" role="button" id="dropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownHelp">
                    <li><a href="#">Documentation</a></li>
                </ul>

            </li>
            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header text-uppercase"><strong>@email.Value</strong></li>
                    <li>@Html.ActionLink("Edit Profile", "EditProfile", "Profile")</li>
                    <li>@Html.ActionLink("My Applications", "My Applications", "Application")</li>
                    <li>@Html.ActionLink("My Resumes", "My Resumes", "Resume")</li>

                    <li class="nav-divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            Sign Out
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    }


}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign In", "SignIn", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" id="dropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-question-sign"></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownHelp">
                <li><a href="#">Documentation</a></li>
            </ul>

        </li>
    </ul>
}

